PORT=3000

# Preferred in cloud (Render, Railway, etc.)
# DATABASE_URL=postgres://user:password@host:5432/dbname
# DB_SSL=true

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=online_shop
DB_SYNC=true

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=7d
